@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to NutNut</h1>
    <h3 class="lead">Watch with friends and family.</h3>
</div>

@if (!NutNut.Pages.SignedIn.IsSignedIn)
{
    <div class="text-danger text-center">Sign in to start watching</div>

    <div class="w-25 m-auto mt-5 text-center">
        <form method="post">
            <div class="form-group">
                <input type="text" asp-for="Username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control mt-2" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Sign in</button>
        </form>

        @if (NutNut.Pages.SignedIn.WrongPassword)
        {
                <div class="text-danger text-center">Wrong username or password</div>
        }
    <a class="btn text-primary" href="/SignUp">Don't have an account?<br />Register now</a>
    </div>
}
else
{
    Response.Redirect("/HomePage");
}